@charset "UTF-8";
/***************** MISE EN PAGE POUR LE INDEX  */
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
/* Variables pour la largeur de la partie centrale, et pour les espaces latéraux minimums */
* {
  font-family: "sans-serif", "Kanit";
}

/* Base */
body {
  margin: 0;
  font-size: 1rem;
  background-color: #fff;
  color: #212529;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

/******************** STYLES GÉNÉRAUX ***********************************/
/*HEADER*/
.header {
  height: 500px;
  max-width: 100%;
  background: #FDDC3E;
  color: #00102E;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
}

.header .header__logo {
  width: 30%;
}

.header .nav {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 60%;
}

.header .header__btn {
  justify-self: flex-end;
  margin: 0 0 1em 1em;
}

.main__btn {
  width: 15vw;
  height: 8vh;
  border: #00102E solid 3px;
  background: transparent;
  outline: #00102E solid 3px;
  outline-offset: -10px;
  font-size: inherit;
}

/**************************** MAIN ******************/
.main {
  margin: 0 1.5rem 0 1.5rem;
}

.titrePrincipal {
  font-family: "Krona One", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: #057096 3px 3px;
}

h2 {
  background-color: #00102E;
  color: white;
}

.textes {
  margin: 1.5rem;
}

/*************************** ARTISTES SUGGÉRÉS *********/
.ctn-suggestionArtiste {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

@media (min-width: 500px) {
  .ctn-suggestionArtiste {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.ctn-suggestionArtiste .artisteSugg {
  position: relative;
}

.ctn-suggestionArtiste .artisteSugg .artisteSugg__img {
  display: block;
  max-width: 100%;
}

.ctn-suggestionArtiste .artisteSugg .artisteSugg__figcap {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ctn-suggestionArtiste .artisteSugg .artisteSugg__figcap:nth-of-type(1) {
  background: rgba(253, 220, 62, 0.5);
}

.ctn-suggestionArtiste .artisteSugg .artisteSugg__figcap:nth-of-type(2) {
  background: rgba(245, 165, 0, 0.5);
}

.ctn-suggestionArtiste .artisteSugg .artisteSugg__figcap:nth-of-type(3) {
  background: rgba(0, 187, 202, 0.5);
}

/****************** LIENS POUR ARTISTES SUGGÉRÉS ***************/
.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap {
  display: block;
  width: 100%;
  text-align: center;
  background: #FDDC3E;
  color: #00102E;
  text-decoration: none;
}

.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap:hover {
  text-decoration: underline;
}

.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap:active {
  background: #00102E;
  color: #FDDC3E;
}

.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap:focus {
  border: #00102E solid 3px;
}

.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap {
  display: block;
  width: 100%;
  text-align: center;
  background: #00102E;
  color: #FDDC3E;
  text-decoration: none;
}

.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap:hover {
  text-decoration: underline;
}

.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap:active {
  background: #FDDC3E;
  color: #00102E;
}

.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap:focus {
  border: #00102E solid 3px;
}

.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap .artisteSugg__figcap__lien:active {
  color: #FDDC3E;
}

.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap .artisteSugg__figcap__lien:active {
  color: #00102E;
}

/*# sourceMappingURL=style-michel.css.map */
