@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
* {
  font-family: "sans-serif", "Kanit";
}

html {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
}

/*HEADER*/
.header {
  height: 500px;
  max-width: 100%;
  background: #FDDC3E;
  color: #00102E;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 500px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
}
.header .header__logo {
  margin: 0 5px;
  display: block;
  max-width: 100%;
}
@media (min-width: 500px) {
  .header .header__logo {
    width: 40%;
  }
}
.header .nav {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: fit-content;
  align-self: center;
  margin: 0 0;
}
@media (min-width: 500px) {
  .header .nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 55%;
    padding-left: 0;
  }
}
.header .nav .nav__item {
  text-align: center;
  position: relative;
}
@media (min-width: 500px) {
  .header .nav .nav__item {
    flex: 0 1 25%;
  }
}
.header .nav .nav__lien {
  width: 100%;
  display: inline-block;
}
@media (min-width: 500px) {
  .header .nav .nav__lien {
    display: inline;
  }
}
.header .header__btn {
  justify-self: flex-end;
  margin: 0 0 1em 1em;
  align-self: center;
}

/* MENUS DÉPLIANT */
.nav__item ul .screen-reader-only {
  list-style-type: none;
  padding-left: 0;
  display: block;
  width: inherit;
  height: inherit;
}

.visuallyhidden {
  width: 0;
  height: 0;
  visibility: hidden;
}

.nav__lien,
.nav__lien:visited {
  width: 100%;
  color: #00102E;
}
.nav__lien:hover,
.nav__lien:visited:hover {
  text-decoration: none;
  background: rgba(0, 16, 46, 0.3);
}
.nav__lien:active,
.nav__lien:visited:active {
  background: #00102E;
  color: #FDDC3E;
  font-weight: bold;
}
.nav__lien:focus,
.nav__lien:visited:focus {
  text-decoration: none;
  border: #00102E solid 4px;
}

/* BOUTON - HEADER */
.header__btn,
.header__btn:visited {
  align-self: center;
  color: #00102E;
  border: #00102E solid 3px;
  outline: #00102E solid 3px;
  font-size: inherit;
  flex-grow: 0;
  flex-shrink: 1;
  width: 13em;
  height: 3em;
  background: transparent;
  outline-offset: -10px;
  text-transform: uppercase;
}
.header__btn:hover,
.header__btn:visited:hover {
  color: #FDDC3E;
  /*border: #057096 solid 3px;
  outline: #057096 solid 3px;*/
  background: #00102E;
}
.header__btn:active,
.header__btn:visited:active {
  font-weight: bolder;
  text-decoration: underline;
}
.header__btn:focus,
.header__btn:visited:focus {
  border: #00102E solid 5px;
  outline: none;
  font-weight: bolder;
  text-decoration: underline;
  /*outline: #FDDC3E solid 5px;
  outline-offset: -13px;*/
}

.titrePrincipal,
.titreSecondaire {
  font-family: "Krona One", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: #057096 3px 3px;
}

.titrePrincipal {
  margin-top: 2em;
  margin-bottom: 2em;
}

.titreSecondaire {
  font-size: 2em;
}

/*SECTION*/
.artistes {
  background: #00102E;
  margin-bottom: 3em;
  padding: 3em 0.7em 0.3em 0.7em;
}

/********IMAGES*********/
.ctn-infoArtiste {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
@media (min-width: 500px) {
  .ctn-infoArtiste {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.infoArtiste {
  margin: 2px 0;
  position: relative;
  /*border: coral solid 2px;*/
}
@media (min-width: 500px) {
  .infoArtiste {
    margin: 0px 2px;
  }
}

.infoArtiste__img {
  display: block;
  max-width: 100%;
  margin: 0 0;
}

.infoArtiste__nom {
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  z-index: 2;
  width: 100%;
  padding: 0 0;
}

.infoArtiste__img:hover ~ .infoArtiste__nom {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  /*border: green solid 2px;*/
  display: block;
  background: transparent;
  color: black;
  z-index: 4;
  text-decoration-line: none;
}

.infoArtiste__nom > a {
  display: block;
  /*border: blueviolet solid 2px;*/
  width: 100%;
  height: 100%;
  line-height: 2em;
}

.infoArtiste:nth-of-type(1) .infoArtiste__nom__lien {
  background: #FDDC3E;
}

.infoArtiste:nth-of-type(2) .infoArtiste__nom__lien {
  background: #f5a500;
}

.infoArtiste:nth-of-type(3) .infoArtiste__nom__lien {
  background: #00bbca;
}

.infoArtiste:nth-of-type(1):hover .infoArtiste__nom__lien {
  background: rgba(253, 220, 62, 0.5);
}

.infoArtiste:nth-of-type(2):hover .infoArtiste__nom__lien {
  background: rgba(245, 165, 0, 0.5);
}

.infoArtiste:nth-of-type(3):hover .infoArtiste__nom__lien {
  background: rgba(0, 187, 202, 0.5);
}

/** BOUTON DÉFILEMENT **/
.ctn-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
.ctn-btn .arriere,
.ctn-btn .avant {
  text-decoration: none;
  display: block;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 2em;
}

/*SUGGESTIONS D'ARTISTE*/
.ctn-suggestionArtiste {
  list-style-type: none;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
@media (min-width: 500px) {
  .ctn-suggestionArtiste {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.ctn-suggestionArtiste .artisteSugg {
  position: relative;
}
.ctn-suggestionArtiste .artisteSugg .artisteSugg__img {
  display: block;
  max-width: 100%;
}
.ctn-suggestionArtiste .artisteSugg .artisteSugg__figcap {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.ctn-suggestionArtiste .artisteSugg .artisteSugg__figcap:nth-of-type(1) {
  background: #FDDC3E;
}
.ctn-suggestionArtiste .artisteSugg .artisteSugg__figcap:nth-of-type(2) {
  background: #f5a500;
}
.ctn-suggestionArtiste .artisteSugg .artisteSugg__figcap:nth-of-type(3) {
  background: #00bbca;
}

/*LIENS ARTISTES SUGGÉRÉS*/
.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap {
  display: block;
  width: 100%;
  text-align: center;
  background: #FDDC3E;
  color: #00102E;
  text-decoration: none;
}
.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap:hover {
  text-decoration: underline;
}
.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap:active {
  background: #00102E;
  color: #FDDC3E;
}
.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap:focus {
  border: #00102E solid 3px;
}

.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap {
  display: block;
  width: 100%;
  text-align: center;
  background: #00102E;
  color: #FDDC3E;
  text-decoration: none;
}
.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap:hover {
  text-decoration: underline;
}
.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap:active {
  background: #FDDC3E;
  color: #00102E;
}
.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap:focus {
  border: #00102E solid 3px;
}

.ctn-suggestionArtiste__item:nth-of-type(odd) .artisteSugg .artisteSugg__figcap .artisteSugg__figcap__lien:active {
  color: #FDDC3E;
}

.ctn-suggestionArtiste__item:nth-of-type(even) .artisteSugg .artisteSugg__figcap .artisteSugg__figcap__lien:active {
  color: #00102E;
}

/*STYLES DE MUSIQUE*/
.titreSecondaireBis {
  color: #057096;
  font-family: "Krona One", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.styles {
  border: #00102E solid 3px;
  width: fit-content;
  align-self: center;
  margin-bottom: 2em;
}
@media (min-width: 500px) {
  .styles .listeStyle {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
@media (min-width: 500px) {
  .styles .listeStyle .listeStyle__item {
    flex: 0 1 25%;
  }
}

/**** FOOTER ****/
.footer {
  background: #00102E;
  color: #fff;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}
.footer .footer__copyright {
  flex: 1 0 100%;
  text-align: center;
}
@media (min-width: 500px) {
  .footer .footer__copyright {
    margin-top: 3em;
  }
}

/* LOGO ET ADRESSE */
.logo-adresse {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 2em;
  align-self: center;
}
@media (min-width: 500px) {
  .logo-adresse {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 4em;
    align-self: inherit;
  }
}
.logo-adresse .logo-adresse__logo {
  display: inline-block;
  max-width: 100%;
  font-size: 1.5em;
  margin: 0 10px;
}
@media (min-width: 500px) {
  .logo-adresse .logo-adresse__logo {
    /*padding: 1.5em;*/
    align-self: center;
    margin-right: 5px;
    max-width: 45%;
  }
}
.logo-adresse .logo-adresse__adresse {
  margin-left: 5px;
  margin-bottom: 0px;
  text-align: center;
}
@media (min-width: 500px) {
  .logo-adresse .logo-adresse__adresse {
    text-align: left;
    margin-right: 5px;
  }
}

/* FOOTER - NAVIGATION */
.footerNav {
  list-style-type: none;
  align-self: center;
  padding-left: 0;
}
@media (min-width: 500px) {
  .footerNav {
    flex: 0 1 40%;
    padding-left: 3em;
  }
}
.footerNav__item {
  width: 35%;
}
.footerNav__lien {
  display: block;
  width: 100%;
  text-align: center;
  color: white;
}
@media (min-width: 500px) {
  .footerNav__lien {
    text-align: left;
  }
}
.footerNav__lien:hover {
  background: rgba(253, 220, 62, 0.5);
  text-decoration: none;
}
.footerNav__lien:active {
  background: #FDDC3E;
  color: #00102E;
}
.footerNav__lien:focus {
  border: #FDDC3E solid 3px;
  text-decoration: none;
}

.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (min-width: 500px) {
  .informations {
    flex: 0 1 40%;
  }
}
.informations .information__lien {
  display: inline-block;
  text-align: center;
}
@media (min-width: 500px) {
  .informations .information__lien {
    display: inline;
  }
}
.informations .informations__p {
  text-align: center;
  align-self: center;
  margin-top: 2em;
}

/* BOUTON - FOOTER */
.informations__btn,
.informations__btn:visited {
  align-self: center;
  color: #FDDC3E;
  border: #FDDC3E solid 3px;
  outline: #FDDC3E solid 3px;
  font-size: inherit;
  flex-grow: 0;
  flex-shrink: 1;
  width: 13em;
  height: 2em;
  padding: 1em;
  background: transparent;
  outline-offset: -10px;
  text-transform: uppercase;
  text-decoration: none;
}
.informations__btn:hover,
.informations__btn:visited:hover {
  /*color: #057096;
  border: #057096 solid 3px;
  outline: #057096 solid 3px;
  background: #fff;*/
  color: #00102E;
  font-weight: bolder;
  background: #FDDC3E;
}
.informations__btn:active,
.informations__btn:visited:active {
  font-weight: bolder;
  text-decoration: underline;
}
.informations__btn:focus,
.informations__btn:visited:focus {
  /*border: #057096 solid 5px;
  outline: #057096 solid 5px;
  outline-offset: -13px;*/
  border: #FDDC3E solid 5px;
  outline: none;
  font-weight: bolder;
  text-decoration: underline;
}

/* LIEN FOOTER */
.information__lien,
.information__lien:visited {
  color: #fff;
}
.information__lien:hover,
.information__lien:visited:hover {
  font-style: italic;
}
.information__lien:active,
.information__lien:visited:active {
  text-decoration: underline;
}
.information__lien:focus,
.information__lien:visited:focus {
  font-style: italic;
  font-weight: bolder;
}

.reseaux {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}
@media (min-width: 500px) {
  .reseaux {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}
.reseaux__lien {
  display: inline-block;
}
@media (min-width: 500px) {
  .reseaux__lien {
    display: inline;
  }
}
.reseaux__img {
  display: inline-block;
  flex: 0 1 25%;
  width: 50px;
  margin: 0 5px;
}

/*# sourceMappingURL=style-anais.css.map */
