@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
* {
    font-family: "sans-serif", "Kanit";
}

/*HEADER*/
.header {
    max-width: 100%;
    background: #FDDC3E;
    color: #00102E;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: wrap;
}
.header .header__logo {
    width: 60%;
    align-items: center;
}
.header .nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header .header__btn {

    height: 8vh;
    border: #00102E solid 3px;
    background: transparent;
    outline: #00102E solid 3px;
    outline-offset: -10px;
    font-size: inherit;
    justify-self: flex-end;
    margin: 0 0 1em 1em;
}
.h1 {
    font-size: 36px;
    text-align: center;
}
/*MAIN*/
.h2 {
    text-align: center;
    font-size: 32px;
}
.main__h3 {
    font-size: 28px;
    color: white;
}
.main__p {
    color: white;
}
.main__article {
    justify-content: center;
    max-width: 1000px;
    background-color: #00102E;
}
.main__sectionArticle{
    background-color: #F5A500;
}

/*FOOTER*/
.footer {
    background: #00102E;
    color: #fff;
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.footer .footer__copyright {
    flex: 1 0 100%;
}

.logo-adresse {
    flex: 1 0 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.logo-adresse .logo-adresse__logo {
    width: 25vw;
    padding: 2em;
    font-size: 1.5em;
}
.logo-adresse .logo-adresse__adresse {
    padding-right: 2em;
}

.footer--nav {
    list-style-type: none;
    flex: 0 1 40%;
}

.informations .informations__btn {
    color: #ffffff;
    border: #ffffff solid 3px;
    outline: #ffffff solid 3px;
    font-size: inherit;
    flex: 0 1 40%;
}