@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
  font-family: "sans-serif", "Kanit";
}

html{
  width: 100%;
}
body{
  margin: 0;
  width: 100%;
}


/*HEADER*/
.header{
  height: 500px;
  max-width: 100%;
  background: #FDDC3E;
  color: #00102E;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media(min-width: 500px){
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }
  .header__logo{
    margin: 0 5px;
    display: block;
    max-width: 100%;
    @media(min-width: 500px) {
      width: 40%;
    }
  }
  .nav{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    align-self: center;
    margin: 0 0;
    @media(min-width: 500px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: nowrap;
      width: 55%;
      padding-left: 0;
    }
    .nav__item{
      text-align: center;
      position: relative;
      @media(min-width: 500px) {
        flex: 0 1 25%;
      }
    }
    .nav__lien{
      width: 100%;
      display: inline-block;
      @media(min-width: 500px) {
        display: inline;
      }
    }
  }
    .header__btn{
    justify-self: flex-end;
    margin: 0 0 1em 1em;
    align-self: center;
  }
}

/* MENUS DÉPLIANT */
.nav__item ul .screen-reader-only{
  list-style-type: none;
  padding-left: 0;
  display: block;
  width: inherit;
  height: inherit;
}
.visuallyhidden{
  width: 0;
  height: 0;
  visibility: hidden;
}


.nav__lien,
.nav__lien:visited{
  width: 100%;
    color: #00102E;
  &:hover{
    text-decoration: none;
    background: rgba(0, 16, 46, 0.3);
  }
  &:active{
    background: #00102E;
    color: #FDDC3E;
    font-weight: bold;
  }
  &:focus{
    text-decoration: none;
    border: #00102E solid 4px;
  }
}

/* BOUTON - HEADER */
.header__btn,
.header__btn:visited{
  align-self: center;
  color: #00102E;
  border: #00102E solid 3px;
  outline: #00102E solid 3px;
  font-size: inherit;
  flex-grow: 0;
  flex-shrink: 1;
  width: 13em;
  height: 3em;
  background: transparent;
  outline-offset: -10px;
  text-transform: uppercase;
  &:hover{
    color: #FDDC3E;
    background: #00102E;
  }
  &:active{
    font-weight: bolder;
    text-decoration: underline;
  }
  &:focus{
    border: #00102E solid 5px;
    outline: none;
    font-weight: bolder;
    text-decoration: underline;
  }
}

.titrePrincipal,
.titreSecondaire{
  font-family: 'Krona One', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: #057096 3px 3px;
}
.titrePrincipal{
  margin-top: 2em;
  margin-bottom: 2em;
}
.titreSecondaire{
  font-size: 2em;
}
/*SECTION*/
.artistes{
  background: #00102E;
  margin-bottom: 3em;
  padding: 3em .7em .3em .7em;
}

/********IMAGES*********/
.ctn-infoArtiste{
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  @media(min-width: 500px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .infoArtiste{
    margin: 2px 0;
    position: relative;
    /*border: coral solid 2px;*/
    @media(min-width: 500px){
      margin: 0px 2px;
    }
  }
  .infoArtiste__img{
    display: block;
    max-width: 100%;
    margin: 0 0;
  }
  .infoArtiste__nom{
    position: absolute;
    bottom: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    width: 100%;
    padding: 0 0;
  }
  .infoArtiste__nom__p{
    color: white;
    text-align: center;
  }
}


/***************************/
.infoArtiste__img:hover~.infoArtiste__nom {
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  z-index: 4;
  text-decoration-line: none;
  font-size: 3em;
}
.infoArtiste__nom:hover{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  display: block;
  z-index: 4;
  text-decoration-line: none;
  font-size: 3em;
}

.ctn-images:nth-of-type(1) .infoArtiste .infoArtiste__nom{
  background: #FDDC3E;
}
.ctn-images:nth-of-type(2) .infoArtiste .infoArtiste__nom{
  background: #f5a500;
}
.ctn-images:nth-of-type(3) .infoArtiste .infoArtiste__nom{
  background: #00bbca;
}

.ctn-images:nth-of-type(1):hover .infoArtiste .infoArtiste__nom{
  background: rgba(253, 220, 62, 0.5);
}
.ctn-images:nth-of-type(2):hover .infoArtiste .infoArtiste__nom{
  background: rgba(245, 165, 0, 0.5);
}
.ctn-images:nth-of-type(3):hover .infoArtiste .infoArtiste__nom{
  background: rgba(0, 187, 202, 0.5);
}


.infoArtiste__nom__lien,
.infoArtiste__nom__lien:visited{
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 2em;
  color: #00102E;
  text-decoration: none;
  &:hover {
    color: #00102E;
    line-height: 10em;
    text-decoration: underline;
    font-weight: bolder;
  }
  &:active{
    font-weight: bolder;
    text-decoration: none;
  }
  &:focus{
    border: #00102E solid 3px;
  }
}


/****************************/


/** BOUTON DÉFILEMENT **/
.ctn-btn{
  position: relative;
  width: 100%;
  height: fit-content;
  .arriere{
    position: absolute;
    left: 0;
    bottom: 0;
  }
  .avant{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .arriere,
  .arriere:visited,
  .avant,
  .avant:visited{
    text-decoration: none;
    display: block;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 2em;
  }
  .arriere:hover,
  .avant:hover{
    border: white solid 3px;
  }
  .arriere:focus,
  .avant:focus{
    color: #FDDC3E;
    border: #FDDC3E solid 3px;
  }
  .arriere:active,
  .avant:active{
    background: white;
    color: #00102E;
    border: white solid 3px;
  }

}

/*SUGGESTIONS D'ARTISTE*/
.ctn-suggestionArtiste{
  list-style-type: none;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  @media(min-width: 500px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .artisteSugg{
    position: relative;
    .artisteSugg__img{
      display: block;
      max-width: 100%;
    }
    .artisteSugg__figcap{
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20%;
    }
  }
}

/*LIENS ARTISTES SUGGÉRÉS*/
.artisteSugg__figcap .artisteSugg__figcap__lien,
.artisteSugg__figcap .artisteSugg__figcap__lien:visited{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #FDDC3E;
  color: #00102E;
  text-decoration: none;
  line-height: 3em;
  font-size: 1.4em;
  &:hover{
    text-decoration: underline;
  }
  &:active{
    background: #00102E;
    color: #FDDC3E;
  }
  &:focus{
    border: #00102E solid 3px;
  }
}
.artisteSugg__figcap .artisteSugg__figcap__lien,
.artisteSugg__figcap .artisteSugg__figcap__lien:visited{
  display: block;
  width: 100%;
  text-align: center;
  background: #00102E;
  color: white;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
  &:active{
    background: white;
    color: #00102E;
  }
  &:focus{
    background: white;
    color: #00102E;
    border: #00102E solid 3px;
  }
}

/*STYLES DE MUSIQUE*/
.titreSecondaireBis{
  color: #057096;
  font-family: 'Krona One', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
}

.styles{
  border: #00102E solid 3px;
  width: 50%;
  text-align: center;
  margin: 2.5em auto;
  .listeStyle{
    list-style-type: none;
    @media (min-width: 500px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    &__item{
      font-size: 1.5em;
      @media (min-width: 500px) {
        flex-basis: 20%;
      }
    }
  }
}

/*LIENS STYLE DE MUSIQUE*/
.listeStyle__item .listeStyle__lien,
.listeStyle__item .listeStyle__lien:visited{
  color: #00102E;
  &:hover{
    font-style: italic;
  }
  &:active{
    font-weight: bolder;
    font-style: unset;
    background: #00102E;
    color: #FDDC3E;
  }
  &:focus{
    border: #00102E solid 3px;
  }

}


/**** FOOTER ****/
.footer{
  background: #00102E;
  color: #fff;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  @media(min-width: 500px){
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .footer__copyright{
    flex: 1 0 100%;
    text-align: center;
    @media(min-width: 500px){
      margin-top: 3em;
    }
  }
}

/* LOGO ET ADRESSE */
.logo-adresse{
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 2em;
  align-self: center;
  @media(min-width:500px){
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 4em;
    align-self: inherit;
  }
  .logo-adresse__logo{
    display: inline-block;
    max-width: 100%;
    font-size: 1.5em;
    margin: 0 10px;
    @media(min-width: 500px){
      /*padding: 1.5em;*/
      align-self: center;
      margin-right: 5px;
      max-width: 45%;
    }
  }
  .logo-adresse__adresse{
    margin-left: 5px;
    margin-bottom: 0px;
    text-align: center;
    @media(min-width: 500px){
      text-align: left;
      margin-right: 5px;
    }
  }
}

/* FOOTER - NAVIGATION */
.footerNav{
  list-style-type: none;
  align-self: center;
  padding-left: 0;
  @media(min-width: 500px){
    flex: 0 1 40%;
    padding-left: 3em;
  }
  &__item{
    width: 35%;
  }
  &__lien{
    display: block;
    width: 100%;
    text-align: center;
    color: white;
    @media(min-width: 500px){
      text-align: left;
    }
    &:hover{
      background: rgba(253, 220, 62, 0.5);
      text-decoration: none;
    }
    &:active{
      background: #FDDC3E;
      color: #00102E;
    }
    &:focus{
    border: #FDDC3E solid 3px;
    text-decoration: none;
    }
  }
}
.informations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  @media (min-width: 500px) {
    flex: 0 1 40%;
  }
  .information__lien{
    display: inline-block;
    text-align: center;
    @media(min-width: 500px) {
      display: inline;
    }
  }
  .informations__p{
    text-align: center;
    align-self: center;
    margin-top: 2em;
  }
}

/* BOUTON - FOOTER */
.informations__btn,
.informations__btn:visited{
  align-self: center;
  color: #FDDC3E;
  border: #FDDC3E solid 3px;
  outline: #FDDC3E solid 3px;
  font-size: inherit;
  flex-grow: 0;
  flex-shrink: 1;
  width: 13em;
  height: 2em;
  padding: 1em;
  background: transparent;
  outline-offset: -10px;
  text-transform: uppercase;
  text-decoration: none;
  &:hover{
    /*color: #057096;
    border: #057096 solid 3px;
    outline: #057096 solid 3px;
    background: #fff;*/
    color: #00102E;
    font-weight: bolder;
    background: #FDDC3E;

  }
  &:active{
    font-weight: bolder;
    text-decoration: underline;
  }
  &:focus{
    /*border: #057096 solid 5px;
    outline: #057096 solid 5px;
    outline-offset: -13px;*/
    border: #FDDC3E solid 5px;
    outline: none;
    font-weight: bolder;
    text-decoration: underline;
  }
}

/* LIEN FOOTER */
.information__lien,
.information__lien:visited{
  color: #fff;
  &:hover{
    font-style: italic;
  }
  &:active{
    text-decoration: underline;
  }
  &:focus{
    font-style: italic;
    font-weight: bolder;
  }
}

.reseaux{
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  @media(min-width: 500px){
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  &__lien{
    display: inline-block;
    @media(min-width: 500px) {
      display: inline;
    }
  }
  &__img{
    display: inline-block;
    flex: 0 1 25%;
    width: 50px;
    margin: 0 5px;
  }
}