@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

*{
  font-family: "sans-serif", "Kanit";
}

html{
  width: 100%;
}
body{
  margin: 0;
  width: 100%;
}
/*HEADER*/
.nav__item {
  margin: .5em 0;
}

.titrePrincipal,
.titreSecondaire{
  font-family: 'Krona One', sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  text-align: center;
  text-shadow: #057096 3px 3px;
}
.titrePrincipal{
  margin-top: 1em;
  margin-bottom: 1em;
}
.titreSecondaire{
  font-size: 2em;
}
/*SECTION*/
.artistes{
  background: #00102E;
  margin-bottom: 3em;
  padding: 3em .7em .3em .7em;
}

/********IMAGES*********/
.ctn-infoArtiste{
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  @media(min-width: 600px) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .infoArtiste{
    margin: 2px 0;
    position: relative;
    /*border: coral solid 2px;*/
    @media(min-width: 600px){
      margin: 0px 2px;
    }
  }
  .infoArtiste__img{
    display: block;
    max-width: 100%;
    margin: 0 0;
  }
  .infoArtiste__nom{
    position: absolute;
    bottom: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    z-index: 2;
    width: 100%;
    height: 20%;
    padding: 0 0;
  }
  .infoArtiste__nom__p{
    color: white;
    text-align: center;
    font-size: 1.5em;
  }
}


/***************************/
.infoArtiste__img:hover~.infoArtiste__nom {
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  display: block;
  z-index: 4;
  text-decoration-line: none;
  font-size: 3em;
}
.infoArtiste__nom:hover{
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  height: 100%;
  display: block;
  z-index: 4;
  text-decoration-line: none;
  font-size: 3em;
}

.ctn-images:nth-of-type(1) .infoArtiste .infoArtiste__nom{
  background: #FDDC3E;
}
.ctn-images:nth-of-type(2) .infoArtiste .infoArtiste__nom{
  background: #f5a500;
}
.ctn-images:nth-of-type(3) .infoArtiste .infoArtiste__nom{
  background: #00bbca;
}

.ctn-images:nth-of-type(1):hover .infoArtiste .infoArtiste__nom{
  background: rgba(253, 220, 62, 0.5);
}
.ctn-images:nth-of-type(2):hover .infoArtiste .infoArtiste__nom{
  background: rgba(245, 165, 0, 0.5);
}
.ctn-images:nth-of-type(3):hover .infoArtiste .infoArtiste__nom{
  background: rgba(0, 187, 202, 0.5);
}


.infoArtiste__nom__lien,
.infoArtiste__nom__lien:visited{
  background: transparent;
  display: block;
  width: 100%;
  height: 100%;
  color: #00102E;
  line-height: 2.5em;
  font-size: 7vw;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  @media (min-width: 600px) {
    font-size: 3vw;
  }

  &:hover {
    color: #00102E;
    line-height: 11em;
    font-size: 4rem;
    text-decoration: underline;
    font-weight: bolder;
  }
  &:active{
    font-weight: bolder;
    text-decoration: none;
  }
  &:focus{
    border: #00102E solid 3px;
  }
}


/** BOUTON DÉFILEMENT **/
.ctn-btn{
  position: relative;
  width: 100%;
  height: fit-content;
  max-height: 100%;
  margin: 1em 1em;
  font-size: .7em;
  @media (min-width: 600px) {
    font-size: 1em;
  }
  .arriere,
  .arriere:visited,
  .avant,
  .avant:visited{
    text-decoration: none;
    display: block;
    background: transparent;
    border: none;
    color: #fff;
    font-size: 2em;
  }
  .arriere:hover,
  .avant:hover{
    border: white solid 3px;
  }
  .arriere:focus,
  .avant:focus{
    color: #FDDC3E;
    border: #FDDC3E solid 3px;
  }
  .arriere:active,
  .avant:active{
    background: white;
    color: #00102E;
    border: white solid 3px;
  }

}

/*SUGGESTIONS D'ARTISTE*/
.ctn-suggestionArtiste{
  list-style-type: none;
  padding: .5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  @media(min-width: 600px) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .artisteSugg{
    position: relative;
    margin: 5px auto;
    @media(min-width: 600px) {
      margin: auto 5px;
    }
    .artisteSugg__img{
      display: block;
      max-width: 100%;
    }
    .artisteSugg__figcap{
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20%;
    }
  }
}

/*LIENS ARTISTES SUGGÉRÉS*/
.artisteSugg__figcap .artisteSugg__figcap__lien,
.artisteSugg__figcap .artisteSugg__figcap__lien:visited{
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #FDDC3E;
  color: #00102E;
  text-decoration: none;
  line-height: 3em;
  font-size: 1.4em;
  &:hover{
    text-decoration: underline;
  }
  &:active{
    background: #00102E;
    color: #FDDC3E;
  }
  &:focus{
    border: #00102E solid 3px;
  }
}
.artisteSugg__figcap .artisteSugg__figcap__lien,
.artisteSugg__figcap .artisteSugg__figcap__lien:visited{
  display: block;
  max-width: 100%;
  text-align: center;
  background: #00102E;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  &:hover{
    text-decoration: underline;
  }
  &:active{
    background: white;
    color: #00102E;
  }
  &:focus{
    background: white;
    color: #00102E;
    border: #00102E solid 3px;
  }
}

/*STYLES DE MUSIQUE*/
.ctnStyle{
  height: fit-content;
  width: fit-content;
}
.ctnStyle .titreSecondaireBis{
  font-family: 'Krona One', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  background: transparent;
  margin-top: 1em;
  margin-right: 0;
  &:hover{
    cursor: pointer;
    font-weight: bold;
  }
  &:active{
    cursor: grab;
    font-weight: bolder;
    text-decoration: underline;
    background: #00102E;
    color: white;
  }
  &:focus{
    font-weight: bold;
    border: #00102E solid 6px;
  }
}


.styles{
  border: #00102E solid 3px;
  width: fit-content;
  text-align: center;
  margin: 2.5em auto;
  .listeStyle{
    list-style-type: none;
    padding-left: 0;
    @media (min-width: 600px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    &__item{
      font-size: 1.5em;
      margin: .5em 0;
      @media (min-width: 600px) {
        flex-basis: 50%;
      }
      @media (min-width: 800px) {
        flex-basis: 30%;
      }
      @media (min-width: 1000px) {
        flex-basis: 20%;
      }
    }
  }
}

/*OUVERTURE/FERMETURE DES STYLES*/
.style--closed .listeStyle__item,
.style--closed .listeStyle__item .listeStyle__lien{
  max-height: 0;
  max-width: 0;
  font-size: 0;
}


/*LIENS STYLE DE MUSIQUE*/
.listeStyle__item .listeStyle__lien,
.listeStyle__item .listeStyle__lien:visited{
  color: #00102E;
  &:hover{
    font-style: italic;
  }
  &:active{
    font-weight: bolder;
    font-style: unset;
    background: #00102E;
    color: #FDDC3E;
  }
  &:focus{
    border: #00102E solid 3px;
  }
}


/* BOUTON - FOOTER */
.informations__btn,
.informations__btn:visited{
  width: fit-content;
  height: fit-content;
}

/*NAVIGATION*/
.footerNav{
  &__item{
    width: fit-content;
    margin: .5em 0;
    @media(min-width: 600px){
      width: 100%;
    }
  }
  &__lien{
    width: fit-content;
    @media(min-width:600px){
      width: 100%;
    }
  }
}
.informations {
  align-self: center;
}
.footer__copyright{
  margin: auto auto;
}


